<%- include("partials/header.ejs")%>
    <%- include("partials/navbar.ejs")%>
        <%- include("partials/sidebar.ejs")%>
            <div class="column is-8" id="breetList">
                <div>
                    <article class="media" id="breetCard">
                        <form action="/breeta/newUser" method="post">
                            <label for="displaypic"> Please only upload square images
                                <figure class="media-left image is-128x128" name="displaypic">
                                    <input class="input is-link" type="text" name="pfp" placeholder="img src">
                                </figure>
                            </label>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>
                                            <input class="input is-link" type="text" name="userAcc"
                                                placeholder="Account Name">
                                        </strong> <small>
                                            <input class="input is-link" type="text" name="username"
                                                placeholder="Display Name">
                                        </small>
                                        <br>
                                    <section>
                                        <label for="breetText">User Bio</label>
                                        <br>

                                        <textarea class="textarea is-link" name="userBio"
                                            placeholder="Describe Yourself"></textarea>
                                    </section>
                                    <button class="button is-link">Breet!</button>
                                    <a class="button" href="/breeta">Cancel</a>
                        </form>
                        </p>
                </div>
            </div>
            </article>
            </div>
            </div>
            <%- include("partials/footer.ejs")%>