<body>
    <div class="columns">
        <div class="column is-2">
            <aside class="menu">
                <ul class="menu-list">
                    <li id="homeLink"><a href="/breeta"><i class="fa-solid fa-house-chimney"></i> Home</a></li>
                    <li id="exploreLink"><a href="/breeta/explore"><i class="fa-solid fa-chart-simple"></i> Explore</a>
                    </li>
                    <li id="notifLink"><a><i class="fa-solid fa-bell"></i> Notifications</a></li>
                    <li id="messLink"><a><i class="fa-solid fa-message"></i> Messages</a></li>
                    <li id="bookLink"><a><i class="fa-solid fa-bookmark"></i> Bookmarks</a></li>
                    <li id="listsLink"><a><i class="fa-solid fa-list"></i> Lists</a></li>
                    <li id="profileLink"><a href="/breeta/users/<%=currUser.userAcc%>"><i class="fa-solid fa-user"></i>
                            Profile</a></li>
                    <li id="newBreet"><a href="/breeta/new"><i class="fa-regular fa-wine-bottle"></i> Breet</a></li>
            </aside>


        </div>