@import url('c:/Users/alice/Coding/JS_Files/fakeTwitter/node_modules/font-awesome/css/font-awesome.min.css');

.tester {
    text-align: right;
    background-color: blue;
    color: green;
}

.link {
    all: unset;
    cursor: pointer;
}